<ion-view>
  <ion-content class="main-container">
    <div class="list">
      <div class="item item-divider">
        Pendaftaran PROJEK
      </div>
      <a class="item item-icon-left item-text-wrap" href="#/register-step2A">
        <i class="icon ion-person"></i>
        <h2>Broker Independen</h2>
        <p>Tap disini jika Anda belum bergabung di kantor agen properti</p>
      </a>
      <a class="item item-icon-left item-text-wrap" href="#/register-step2B">
        <i class="icon ion-person-stalker"></i>
        <h2>Agen Properti</h2>
        <p>Tap disini jika Anda sudah bergabung di kantor agen properti</p>
      </a>
    </div>
  </ion-content>
</ion-view>
