<pa-nav-bar></pa-nav-bar>

<ion-view>
  <ion-content class="main-container">

    <div class="list">
      <div class="item item-divider text-center">Contact Us</div>
      <div class="item item-text-wrap">
        <h3>PT. PROJEK PROPERTI INTERNASIONAL</h3>
      </div>
      <div class="item item-icon-left item-text-wrap">
        <i class="icon ion-home"></i>
        APL Tower 38th Floor, Suite 5B - Podomoro City<br>
        Jl. Letjen S. Parman Kav. 28, Jakarta Barat 11470<br>
      </div>
      <div class="item item-icon-left item-text-wrap">
        <i class="icon ion-android-call"></i>
        Telp. 62 21 2933 7100<br>
        Fax. 62 21 2933 7616
      </div>
      <div class="item item-icon-left item-text-wrap">
        <i class="icon ion-ios-world"></i>
        www.projek.asia
      </div>
    </div>

  </ion-content>
</ion-view>

