<ion-view>
  <pa-nav-bar disable-back='true'></pa-nav-bar>
  <ion-content class='calm-background access register login'>
    <div class='row'>
      <div class='col text-center'>
        <div class="padding">
          <i class="icon ion-android-cloud-done" style="font-size:100px"></i>
          <p>Selamat, akun PROJEK Anda telah aktif!</p>
          <p><small>Jangan lupa untuk segera memverifikasikan email Anda. Hanya email yang telah terverifikasi yang akan mendapatkan notifikasi dan informasi tambahan via email.</small></p>
          <p>Saat ini Anda dapat LOGIN, dan manfaatkanlah informasi lebih dari developer yang telah bekerjasama dengan kami.</p>
          <div class="list">
            <a class="button button-block button-positive" href="#/login">
              Login Sekarang
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
